<!--<div style="position: absolute; margin-left: 600px">-->
<!--  <input type="email" name="email" placeholder="Input email">-->
<!--  <input type="password" name="password" placeholder="Input password">-->
<!--</div>-->

<div class="wrapper fadeInDown" (submit)="loginUser()">
  <div id="formContent">
    <span class="page-title">Login</span>
    <hr style="background-color: #0d0d0d">
    <form>
      <div class="input-group form-group">
        <input
          type="text"
          [(ngModel)]="email"
          class="fadeIn second form-input"
          name="email"
          placeholder="email"
          required>
      </div>
      <div class="input-group form-group">
        <input
          type="password"
          [(ngModel)]="password"
          class="fadeIn third form-input"
          name="password"
          placeholder="password"
          required>
      </div>
      <input
        type="submit"
        class="fadeIn fourth"
        value="Log In">
    </form>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/password-recovery">
        Forgot Password?
      </a> / <a class="underlineHover" routerLink="/registration">
      Don't have account?
    </a>
    </div>
  </div>

</div>
