<div class="wrapper fadeInDown" >
  <div class="form-content">
    <span class="page-title">Registration</span>
    <hr style="background-color: #0d0d0d">
  <form
    (ngSubmit)="onRegisterUser()"
    [formGroup]="regForm"
  >
    <mat-form-field
      class="form-input">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        name="email"
        formControlName="email"
        placeholder="Ex. example@mail.com"
        required
      >
    </mat-form-field>
    <span
      class="help-block"
      *ngIf="regForm.get('email').errors['required'] && regForm.get('email').touched"
    >
      Fill in email
    </span>
    <span
      class="help-block"
      *ngIf="regForm.get('email').errors['required'] && regForm.get('email').touched"
    >
      Fill in email
    </span>
    <mat-form-field
      class="form-input">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        name="password"
        formControlName="password"
        placeholder="Ex. hello"
        required
      >
    </mat-form-field>
    <span
      class="help-block"
      *ngIf="regForm.get('password').errors['required'] && regForm.get('password').touched"
    >
      Fill in password
    </span>
    <mat-form-field
      class="form-input">
      <mat-label>input password again</mat-label>
      <input
        matInput
        type="password"
        name="password2"
        formControlName="password2"
        required
      >
    </mat-form-field>
    <span
      class="help-block"
      *ngIf="regForm.get('password2').errors['required'] && regForm.get('password2').touched"
    >
      Retype password
    </span>
    <button
      class="form-button"
      type="submit"
      [disabled]="regForm.invalid">Submit</button>
  </form>
  <div class="form-footer">
    <a class="underlineHover" routerLink="/login">
      Already have account?
    </a>
  </div>
</div>
</div>
