<div class="wrapper">
  <div class="form-content">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div class="post-container" *ngIf="!isLoading">
      <img
        class="post-detail-image"
        src="{{post.postImage}}"
        alt="img"
      >
      <div class="row">
        <p *ngIf="post.user.name">Name: {{post.user.name}}</p>
        <p class="post-description">Description: {{post.description}}</p>
        <p>Email: {{post.user.email}}</p>
        <p>Time: {{post.eventTime | date:'short'}}</p>
        <p class="event-location">
          <i class="material-icons">location_on</i>
          {{post.eventLocation}}
        </p>
        <p class="post-hashtag">#{{post.hashtag.name}}</p>
        <br>
        <div class="btn-group" *ngIf="user">
          <a
            *ngIf="user.email === post.user.email"
            mat-button
            class="btn btn-yellow"
            matTooltip="Edit post"
            [routerLink]="['/create-post']"
            [queryParams]="{id: postId}"
          >
            Edit
          </a>
        </div>
        <br>
        <div class="btn-group" *ngIf="userRole === 'admin' ||userRole === 'manager'">
          <button
            *ngIf="post.postStatus !== 'approved'"
            mat-button
            class="btn btn-green"
            matTooltip="Approve post"
            (click)="onSetStatus('approved', post)"
          >
            Approve
          </button>
          <button
            *ngIf="post.postStatus !== 'rejected'"
            mat-button
            class="btn btn-yellow"
            matTooltip="Reject post"
            (click)="onSetStatus('rejected', post)"
          >
            Reject
          </button>
          <button
            *ngIf="post.postStatus !== 'deleted'"
            mat-button
            class="btn btn-red"
            matTooltip="Delete post"
            (click)="onSetStatus('deleted', post)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

