  <div class="wrapper">
    <div class="form-content">
      <span class="page-title">New post</span>
      <hr style="background-color: #0d0d0d">
      <div *ngIf="isLoading && editMode" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
      </div>
      <form
        [formGroup]="createPostForm"
        *ngIf="!isLoading"
        (ngSubmit)="onCreatePost()"
        enctype="multipart/form-data"
      >
        <button
          type="button"
          mat-raised-button
          (click)="openDialog()">
          Choose image
        </button>
        <div formGroupName="postData">
        <mat-form-field
          class="d-block form-input">
          <mat-label>Event name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Ex. Graduation"
          >
        </mat-form-field>
        <mat-form-field class="text-area-container">
          <mat-label>Post description</mat-label>
          <textarea
            matInput
            rows="1"
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="5"
            formControlName="description"
            #postDescription
            placeholder="Ex. This post describes event..."
            maxlength="512"
          ></textarea>
          <mat-hint align="end">{{postDescription.value?.length || 0}}/512</mat-hint>
        </mat-form-field>
          <mat-form-field
            class="d-block form-input">
            <mat-label>Event location</mat-label>
            <input
              matInput
              type="text"
              formControlName="location"
              placeholder="Ex. New York"
            >
          </mat-form-field>
        </div>
        <button
          type="create"
          class="form-button"
        >Create</button>
      </form>
    </div>
  </div>
