<div class="header">
  <h1>Unverified posts</h1>
</div>
<mat-divider style="margin: 1% auto 1% auto; width: 80%"></mat-divider>
<div class="posts-select-filter-container">
<mat-form-field class="posts-select-filter">
  <mat-label>Select an option</mat-label>
  <mat-select [(value)]="selected">
    <mat-option value="all">All</mat-option>
    <mat-option value="approved">Approved</mat-option>
    <mat-option value="unconfirmed">Unconfirmed</mat-option>
    <mat-option value="rejected">Rejected</mat-option>
    <mat-option value="deleted">Deleted</mat-option>
  </mat-select>
</mat-form-field>
  <button
    mat-button
    type="button"
    class="btn"
    matTooltip="Choose posts by status"
    (click)="changePostsByStatus()"
  >Search</button>
</div>
<br>
<div *ngIf="isLoading" style="text-align: center">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="posts-container" *ngIf="posts.length > 0; else noPosts">
  <div class="flex-container" *ngIf="!isLoading">
    <div class="card" style="width:100%" *ngFor="let card of posts | paginate: {itemsPerPage: 8, currentPage: page}">
      <div
        class="image-container status-tape"
        [ngClass]="{'unconfirmed': card.postStatus === 'unconfirmed', 'deleted': card.postStatus === 'deleted',
                    'rejected': card.postStatus === 'rejected', 'approved': card.postStatus === 'approved'}"
        >
        <img
          src="{{card.postImage}}"
          alt="post"
          class="card-image">
        <div class="data-on-image">
          <a [routerLink]="['/posts', card.postId]" class="card-details-link">Details</a>
        </div>
      </div>
      <div class="card-container">
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <i class="material-icons">location_on</i>
            {{card.eventLocation}}
          </mat-grid-tile>
          <mat-grid-tile style="color: #02a9ff"><i>#{{card.hashtag.name}}</i></mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
  <div *ngIf="!isLoading" class="pagination-container">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>

<ng-template #noPosts>
  <div style="text-align: center; font-size: 3rem; margin-top: 20px" *ngIf="!isLoading">
    <span>There are no posts to check</span>
  </div>
</ng-template>
