<mat-toolbar class="navbar">
  <img src="assets/main.png" alt="logo" style="width:40px">
  <a [routerLink]="'/'" class="navbar-name">EventsPlace</a>
  <mat-divider [vertical]="true" style="height:80%; background-color: black; margin: 0 0.3% 0 0"></mat-divider>
  <ul class="main-header-item-list">
    <li class="main-header-item" routerLinkActive="active">
      <a [routerLink]="'/posts'" *ngIf="role !== 'manager'" class="navbar-link">Posts</a>
    </li>
    <li *ngIf="role === 'manager' || role === 'admin'" class="main-header-item" routerLinkActive="active">
      <a [routerLink]="'/post-managing'" class="navbar-link">Managing</a>
    </li>
    <li *ngIf="role === 'admin'" class="main-header-item" routerLinkActive="active">
      <a [routerLink]="'/create-user'" class="navbar-link">Add user</a>
    </li>
  </ul>

  <span class="fill-remaining-space"></span>

  <ul class="main-header-item-list">
    <li *ngIf="!isLoggedIn else logout">
      <a [routerLink]="'/login'" class="navbar-link">Login</a>
    </li>
    <ng-template #logout>
      <mat-menu #appMenu="matMenu">
        <a
          mat-menu-item
          [routerLink]="'/my-account'"
          class="mat-menu-item"
        >
          Profile
        </a>
        <button
          mat-menu-item
          (click)="onLogoutUser()"
          class="mat-menu-item"
        >
          Logout
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <div class="image-cropper">
          <img
            class="navbar-profile-image"
            src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg"
            alt="profile_image"
          >
        </div>
      </button>
    </ng-template>

  </ul>

</mat-toolbar>
