<button
  mat-fab
  class="filter-button"
  (click)="drawer.toggle(); toggleFilterButton()"
  [style.display]="showFilterButton ? 'block' : 'none'">
  <i class="material-icons">arrow_forward_ios</i>
</button>
<mat-drawer-container
  class="page-container"
  autosize>
  <mat-drawer
    #drawer
    [disableClose]="true"
    class="sidenav"
    mode="over"
  >
    <button class="close-sidenav"
            (click)="toggleFilterButton(); drawer.toggle()"
    >
      <i class="material-icons">close</i>
    </button>
    <h2>Choose filter</h2>
    <div class="d-block">
      <mat-form-field
        class="d-block"
        style="margin: 0 1% 0 1%">
        <mat-label>Select an option</mat-label>
        <mat-select [(value)]="selected" required>
          <mat-option value="all">All</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="hashtag">#Hashtag</mat-option>
          <mat-option value="location">Location</mat-option>
          <mat-option value="username">User name</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field
        class="d-block">
        <mat-label>Filter</mat-label>
        <input
          matInput
          name="filter"
          #filter='ngModel'
          ngModel
          placeholder="Ex. #hello"
          [disabled]="selected === 'all'"
        >
      </mat-form-field>
      <button
        mat-button
        class="btn"
        (click)="search(filter); drawer.toggle(); toggleFilterButton()">
        <i class="material-icons">search</i>
      </button>
    </div>
  </mat-drawer>

  <div class="header">
    <h1>Post Board</h1>
  </div>

  <div class="post-features-container">
    <button
      *ngIf="posts.length > 0"
      mat-button
      class="btn"
      (click)="changeGrid()"
      style="position: absolute"
      matTooltip="Change column quantity"
      [matTooltipPosition]="position.value">
      <i class="material-icons">list</i>
    </button>
    <div style="overflow:hidden">
      <a
        *ngIf="isLoggedIn; else isNotLoggedIn"
        mat-button
        class="btn"
        style="float: right"
        matTooltip="Create post"
        [routerLink]="'/create-post'"
      >
        <i class="material-icons">add</i> Create
      </a>
      <ng-template #isNotLoggedIn>
        <button
          mat-button
          class="btn"
          style="float: right"
          matTooltip="Create post"
          (click)="openSnackBar()"
        >
          <i class="material-icons">add</i> Create
        </button>
      </ng-template>
    </div>
    <mat-divider style="margin: 1% 0 1% 0"></mat-divider>
  </div>
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <div class="posts-container" *ngIf="posts.length > 0; else noPosts">
    <div class="flex-container" *ngIf="!isLoading">
      <div
        class="card"
        style="width:100%"
        *ngFor="let card of posts | paginate: {itemsPerPage: 8, currentPage: page}">
        <div class="image-container">
          <img
            src="{{card.postImage}}"
            alt="post"
            class="card-image"
          >
          <div class="data-on-image">
            <a [routerLink]="['/posts', card.postId]" class="card-details-link">Details</a>
          </div>
        </div>
        <div class="card-container">
          <mat-grid-list cols="2" rowHeight="4:1">
            <mat-grid-tile>
              <i class="material-icons">location_on</i>
              {{card.eventLocation}}
            </mat-grid-tile>
            <mat-grid-tile style="color: #02a9ff"><i>#{{card.hashtag.name}}</i></mat-grid-tile>
          </mat-grid-list>
        </div>
      </div>
    </div>
    <div class="pagination-container" *ngIf="!isLoading">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>
</mat-drawer-container>

<ng-template #noPosts>
  <div style="text-align: center; font-size: 3rem; margin-top: 20px" *ngIf="!isLoading">
    <span>There are no posts</span>
  </div>
</ng-template>
