.profile-image {
  border-radius: 50%;
  width:200px
}

.form-content {
  margin-top: 5%;
}

/* Modal */

.modal-password-input {
  width: 90%;
  background-color: rgb(255, 255,255);
}

.modal-password-input:focus {
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(2, 169, 255);
  outline: none;
}

.modal-form-submit {
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
}

.no-button {
  width: 100px;
  display: inline-block;
  margin-right: 10px
}

@media screen and (max-width: 576px) {
  .no-button {
    padding: 3px;
    width: 50px;
  }
  .modal-form-submit {
    padding: 15px 5px;
  }
}






