<div class="wrapper" >
  <div class="form-content">
    <span class="page-title">Profile</span>
    <hr style="background-color: #0d0d0d">
    <img
      class="profile-image"
      src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
      alt="Avatar"
      style="width:200px">
    <form
      (submit)="onChangeUserData(name, email)"
      #profileForm='ngForm'>
      <a mat-raised-button style="margin-right: 5px;">Change image</a>
      <a
        mat-raised-button
        (click)="openDialog()">Change password</a>
      <mat-form-field
        class="form-input">
        <mat-label>Full name</mat-label>
        <input
          matInput
          name="name"
          #name="ngModel"
          [(ngModel)]="user.name"
          placeholder="Ex. Anthony"
          required
        >
      </mat-form-field>
      <span class="help-block" *ngIf="!name.valid && name.touched">Please fill in full name</span>
      <mat-form-field
        class="form-input">
        <mat-label>Email</mat-label>
        <input
          matInput
          name="email"
          #email="ngModel"
          [(ngModel)]="user.email"
          placeholder="Ex. example@mail.com"
          required
        >
      </mat-form-field>
      <span class="help-block" *ngIf="!email.valid && email.touched">Please fill in email</span>
      <button
        class="form-button"
        type="submit"
        [disabled]="(profileForm.invalid) || !email.touched || !name.touched"
      >Save</button>
    </form>
  </div>
</div>



