<div class="wrapper">
  <div class="form-content">
    <span class="page-title">Users</span>
    <hr style="background-color: #0d0d0d">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    <div *ngIf="!isLoading">
      <div class="contact" *ngFor="let user of users">
        <img
          class="profile-image"
          alt="avatar"
          src="{{user.profileImage ? user.profileImage : nonProfileImage}}"
        >
        <p>
          <strong *ngIf="user.name">{{user.name}}</strong>
        </p>
        <p>{{user.email}}</p>
        <p>{{user.status}}</p>
        <a [routerLink]="['/user', user.id]">View</a>
        <mat-divider style="margin: 10px 0"></mat-divider>
      </div>
    </div>
  </div>
</div>



