<div class="wrapper fadeInDown">
  <div class="form-content">
    <span class="page-title">Add user</span>
    <hr style="background-color: #0d0d0d">
    <form
      (submit)="onCreateUser(email, name)"
      #createUserForm='ngForm'>
      <mat-form-field
        class="form-input d-block">
        <mat-label>Name</mat-label>
        <input
          matInput
          type="text"
          name="name"
          #name="ngModel"
          ngModel
          placeholder="Ex. Anthony"
        >
      </mat-form-field>
      <mat-form-field
        class="form-input d-block">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="email"
          name="email"
          #email="ngModel"
          ngModel
          placeholder="Ex. example@mail.com"
          required
        >
      </mat-form-field>
      <span
        class="help-block"
        *ngIf="(!email.valid && email.touched) || isEmailError"
      >
      {{ isEmailError ? error : 'Please fill in email' }}
      </span>
      <mat-radio-group
        class="d-block"
        name="userRole"
        [(ngModel)]="userRole"
        aria-label="Choose role">
        <mat-radio-button value="user">User</mat-radio-button>
        <mat-radio-button value="manager">Manager</mat-radio-button>
      </mat-radio-group>
      <button
        class="form-button"
        type="submit"
        [disabled]="createUserForm.invalid">Create
      </button>
    </form>
  </div>
</div>
